body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: "headerr headerr headerr" "mainn mainn asidee" "footerr footerr footerr";
  width: 100%; }
  body header {
    grid-area: headerr;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 0 30px; }
  body main {
    width: 100%;
    grid-area: mainn;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 30px; }
    body main button {
      margin: 40px 0 0 0;
      width: 20%;
      border-radius: 15px; }
  body aside {
    grid-area: asidee;
    width: 100%; }
    body aside .victoriasAzul {
      color: blue; }
    body aside .victoriasRojo {
      color: red; }
  body footer {
    grid-area: footerr;
    width: 100%;
    margin: 40px 0 0 0; }

.grid__celda-1 {
  grid-area: celda1;
  gap: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  width: 100%;
  height: 100%; }

.grid__celda-2 {
  grid-area: celda2;
  gap: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  width: 100%;
  height: 100%; }

.grid__celda-3 {
  grid-area: celda3;
  gap: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  width: 100%;
  height: 100%; }

.grid__celda-4 {
  grid-area: celda4;
  gap: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  width: 100%;
  height: 100%; }

.grid__celda-5 {
  grid-area: celda5;
  gap: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  width: 100%;
  height: 100%; }

.grid__celda-6 {
  grid-area: celda6;
  gap: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  width: 100%;
  height: 100%; }

.grid__celda-7 {
  grid-area: celda7;
  gap: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  width: 100%;
  height: 100%; }

.grid__celda-8 {
  grid-area: celda8;
  gap: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  width: 100%;
  height: 100%; }

.grid__celda-9 {
  grid-area: celda9;
  gap: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  width: 100%;
  height: 100%; }

#juego__grid-principal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "celda1 celda2 celda3" "celda4 celda5 celda6" "celda7 celda8 celda9";
  width: 80%;
  height: 500px; }

.celda-azul {
  background-color: blue; }

.celda-rojo {
  background-color: red; }

.celda-vacia {
  background-color: white; }
